@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-clr: #131218;
  --container-clr: #24232b;
  --accent-clr: #a3ffac;
  --title-clr: #716e80;
  --text-clr: #fff;
  --strength-clr: #f9cc67;
}
